.product-selected-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.product-selected-page-product-selected-page {
  width: 100%;
  height: 932px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.product-selected-page-screen {
  top: 252px;
  left: 30px;
  width: 185px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.product-selected-page-gradientframe {
  top: -201px;
  left: -258px;
  width: 945px;
  height: 1267px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.product-selected-page-sv-giconactionundo {
  top: 15px;
  left: 56.009521484375px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.product-selected-page-lildude {
  top: 830px;
  left: 183px;
  width: 64px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-selected-page-lildude1 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 94px;
  position: absolute;
}
.product-selected-page-sv-giconcog {
  top: 15px;
  left: 354px;
  width: 48px;
  height: 51px;
  position: absolute;
}
.product-selected-page-text {
  top: 128px;
  left: 232px;
  color: rgba(255, 255, 255, 1);
  width: 195px;
  height: auto;
  position: absolute;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.product-selected-page-text02 {
  top: 163px;
  left: 232px;
  color: rgba(255, 255, 255, 1);
  width: 195px;
  height: auto;
  position: absolute;
  font-size: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.product-selected-page-screenshot20240317at2382 {
  top: 128px;
  left: 24px;
  width: 186px;
  height: 219px;
  position: absolute;
  border-radius: 5px;
}
.product-selected-page-screenshot20240320at4551 {
  top: 381px;
  left: 24px;
  width: 186px;
  height: 198px;
  position: absolute;
  border-radius: 5px;
}
.product-selected-page-screenshot20240320at4571 {
  top: 381px;
  left: 226px;
  width: 186px;
  height: 198px;
  position: absolute;
  border-radius: 5px;
}
.product-selected-page-text08 {
  top: 196px;
  left: 269px;
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.product-selected-page-line2 {
  top: 184px;
  left: 223px;
  width: 195px;
  height: 1px;
  position: absolute;
}
.product-selected-page-line3 {
  top: 257px;
  left: 223px;
  width: 195px;
  height: 1px;
  position: absolute;
}
.product-selected-page-line4 {
  top: 321px;
  left: 222px;
  width: 195px;
  height: 1px;
  position: absolute;
}
.product-selected-page-text12 {
  top: 235px;
  left: 291px;
  color: rgba(242, 233, 233, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.product-selected-page-text14 {
  top: 265px;
  left: 291px;
  color: rgba(242, 233, 233, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.product-selected-page-text16 {
  top: 333px;
  left: 292px;
  color: rgba(242, 233, 233, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.product-selected-page-text18 {
  top: 224px;
  left: 305px;
  color: rgba(242, 233, 233, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: line-through;
}
.product-selected-page-image4 {
  top: 287px;
  left: 280px;
  width: 82px;
  height: 25px;
  position: absolute;
}
.product-selected-page-arrow {
  top: 278px;
  left: 389px;
  width: 21.000244140625px;
  height: 22.000038146972656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-selected-page-rectangle9 {
  top: 0px;
  left: 4.143141746520996px;
  width: 20px;
  height: 5px;
  position: absolute;
  border-radius: 12px;
}
.product-selected-page-rectangle10 {
  top: 18.8675537109375px;
  left: 1.495436668395996px;
  width: 19px;
  height: 6px;
  position: absolute;
  border-radius: 12px;
}
.product-selected-page-rectangle91 {
  top: 333px;
  left: 273px;
  width: 94px;
  height: 55px;
  position: absolute;
  border-radius: 16px;
}
.product-selected-page-screenshot20240320at5171 {
  top: 597px;
  left: 24px;
  width: 186px;
  height: 198px;
  position: absolute;
  border-radius: 5px;
}
.product-selected-page-screenshot20240320at5191 {
  top: 597px;
  left: 226px;
  width: 186px;
  height: 198px;
  position: absolute;
  border-radius: 5px;
}
